<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
        
        <div class="col-md-12 col-sm-12 jumbotron">
            
            <h2 class="text-center">Contact List</h2>
            <p class="text-center text-small">This is a contact saving application</p>
        </div>
    </div>
</div>

<h1>Contact Listing</h1>

<% @contacts.each do |c| %>
  <span><%= c.first_name %></span>
  <span><%= c.last_name %></span>
  
  <br/>
<% end %>

